gradlew*
*.iml
.gradle
/local.properties
.idea
/gradle
.DS_Store
/build
/obj
/captures
.externalNativeBuild
**/*.iml
**/ndkHelperBin
**/.cxx
stalkerlib/build*
stalkerlib/src/main/assets
stalkerlib/stalker-lib
